<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="velocityMail" type="VelocityMail.Configuration.VelocityMailServiceConfigurationSection, VelocityMail" />
  </configSections>

  <velocityMail
    templatesAssembly="VelocityMail.Tests.Assets.Embedded, VelocityMail.Tests">
    <globalVars>
      <add name="siteUrl" value="http://localhost:1234/"/>
      <add name="author" value="Jonathan"/>
    </globalVars>
  </velocityMail>
</configuration>
