<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="velocityMail" type="VelocityMail.Configuration.VelocityMailServiceConfigurationSection, VelocityMail" />
  </configSections>

  <velocityMail mode="Test"
    templatesAssembly="VelocityMail.Tests.Assets.Embedded, VelocityMail.Tests">
  </velocityMail>
</configuration>
